<div class="container py-5">
  <div class="d-md-flex">
    <div class="col-md-6 col-12">
      <div class="mt-md-5 mt-5 py-md-5">
        <div class="fs-1 fw-bold mt-4">Make banking</div>
        <div class="fs-1 fw-bold mt-md-4 mt-3 mb-4 ">effortless</div>
        <p style="font-weight: 400;font-size: 16px;" class="col-10 col-md-10 fs- mt-3">
          Our bank app has the potential to redefine convenience, accessibility, 
          and trust in the financial landscape and also 
          Join our elite clientele and experience a level of banking service that goes beyond expectations.
        </p>
        <button class="btn  text-light mt-5 d-md-block d-none btn-rounded">
          <a class="text-decoration-none py-5 text-light" routerLink="/create">
            GET STARTED  
          </a>
         </button>
      </div>
    </div>
    <div class="text-center col-md-6 col-12">
      <div class="image-circle text-center mx-auto mt-2 mt-md-3">
        <img
          class="col-md-9 mx-auto col-9 "
          src="assets\studio-phone-happy-woman-with-credit-card-investment-financial-digital-fintech-mobile-app-ecommerce-payment-excited-female-person-typing-banking-info-online-shopping-promo_590464-211914-re.png"
          alt="Bank Image"
        />
      </div>
    </div>
  </div>
</div>
<button class="getStarted-btn btn d-md-none d-block text-light w-100">
  <a class="text-decoration-none text-light" routerLink="/create">
    Get Started
  </a>
</button>
