<div class="container">
  <div class="d-md-flex">
    <div class="col-md-6 col-12">
      <div class="mt-md-5 mt-5 py-md-5">
        <div class="fs-1 fw-bold">Make banking</div>
        <div class="fs-1 fw-bold mt-md-4 mt-2 mb-4 ">effortless</div>
        <p class="col-10 col-md-10 text-primary  fs-5 mt-3">
          Our bank app has the potential to redefine convenience, accessibility,
          and trust in the financial landscape
        </p>
      </div>
    </div>
    <div class="text-center col-md-6 col-12">
      <div class="image-circle mt-5 mt-md-3">
        <img
          class="col-md-9 col-9"
          src="assets\studio-phone-happy-woman-with-credit-card-investment-financial-digital-fintech-mobile-app-ecommerce-payment-excited-female-person-typing-banking-info-online-shopping-promo_590464-211914-re.png"
          alt="Bank Image"
        />
      </div>
    </div>
  </div>
</div>
<button class="getStarted-btn btn d-md-none d-block text-light w-100">
  Get Started
</button>
