body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.btn-rounded {
  border-radius: 50px;
  border: 1px solid rgb(191, 191, 215);
}

.img-bg {
  border-radius: 20px;
}
.btn-rounded {
    border-radius: 50px;
    border: none;
    border: 1px solid rgb(191, 191, 215);
    background: rgb(25, 25, 133);
  }
.image-circle {
  margin-top: 30px;
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  background:rgb(25, 25, 133);
}

@media screen and (max-width: 600px) {
    .image-circle {
        margin-top: 10px;
        height: 40vh;
        width: 40vh;
        text-align: center;
        margin: auto;
        margin-top: 10pc !important;
        border-radius: 50%;
        background-color: rgb(25, 25, 133);
      }
      .getStarted-btn {
        bottom: 0px;
        position: fixed;
        background: rgb(25, 25, 133);
      }
}
@media (max-width: 688px) {
  .image-circle {
    /* margin-top: 10px; */
    height: 40vh;
    width: 40vh;
    text-align: center;
    margin: auto;
    margin-top: 10pc !important;
    border-radius: 50%;
    background-color:rgb(25, 25, 133);
  }
  .getStarted-btn {
    bottom: 0px;
    position: fixed;
    background:rgb(25, 25, 133);
  }
}

@media  (max-width: 767px) {
    .image-circle {
        /* margin-top: 10px; */
        height: 40vh;
        width: 40vh;
        text-align: center;
        margin: auto;
        margin-top: 10pc !important;
        border-radius: 50%;
        background-color:rgb(25, 25, 133);
      }
      .getStarted-btn {
        bottom: 0px;
        border-radius: 1px !important;
        position: fixed;
        background:rgb(25, 25, 133);
      }
}

@media  (max-width: 480px) {
    .image-circle {
        /* margin-top: 10px; */
        height: 40vh;
        width: 40vh;
        text-align: center;
        margin: auto;
        margin-top: 10pc !important;
        border-radius: 50%;
        background-color:rgb(25, 25, 133);
      }
      .getStarted-btn {
        bottom: 0px;
        position: fixed;
        background:rgb(25, 25, 133);
      }
}
@media (max-width: 991px) {
    .image-circle {
        /* margin-top: 10px; */
        height: 40vh;
        width: 40vh;
        text-align: center;
        margin: auto;
        border-radius: 50%;
        background-color:rgb(25, 25, 133);
      }
      .getStarted-btn {
        bottom: 0px;
        position: fixed;
        background: rgb(25, 25, 133);
      }
}