<div class="get-bg">
    <div class="get-bg1">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand  text-light " href="#">Bank</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link  text-light " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light  font-semibold" href="#">Security</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light  font-semibold ">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light  font-semibold">Blog</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <button class="btn font-medium  text-light " type="submit">Login in</button>
              <button class="btn-rounded bg-light px-4 text-dark" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </nav>
  
      <div class="container">
        <div class="row px-md-4">
          <div class="col-md-6 col-12 align-text-top">
            <div class="mt-md-5 py-md-5 mt-4 py-4 text-light">
              <div class="fs-1 fw-bold">Make banking</div>
              <div class="fs-1 fw-bold ">effortless</div>
              <p class="col-10 col-md-12 mt-3">Our bank app has the potential to redefine convenience, accessibility, and
                trust in the financial landscape</p>
            </div>
          </div>
          <div class="col-md-6 d-grid col-12">
              <img class="col-md-12 col-12 get-position ms-2 ms-md-0"
                src="assets\woman-wearing-earbuds-listen-music-outside_23-2148770386-removebg-preview.png"
                alt="Bank Image">
                <!-- <div class="img-bg text-center col-md-5 col-12">
                  <img src="assets\33abbc12667fcecbe7acf2c65e801b11-removebg-preview.png" alt="">
                </div> -->
                <!-- <div class="new-position d-md-none d-block d-flex gap-3 ms-4 ">
                  <button class="btn btn-primary py-3 px-5  ">Login</button>
                  <button class="btn btn-primary py-3 px-5  ">Sign up</button>
                </div> -->
            </div>
        </div>
      </div>
    </div>
  </div>