<div class="parent-container">
    <div class="container">
      <div class="get-bg1">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand text-lig fw-bold fs-3" href="#">
              <span id="d-color">D</span>rc
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link text-ligh" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-ligh font-semibold" routerLink="/create">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-ligh font-semibold">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-ligh font-semibold">Blog</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <button class="btn font-medium text-ligh" type="submit">Login in</button>
                <button class="btn-rounded px-4 text-light fw-bold" type="submit">Sign up</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>  