<div class="parent-container">
    <div class="container pb-5">
      <div class="get-bg1">
        <nav style="background-color: rgb(25, 25, 133);" class="navbar  fixed-top container  navbar-expand-lg">
          <div class="container-fluid">
              <a class="navbar-brand  fw-bold fs-2  d-grid" href="#">
                <span class="text-light">Drc</span>
                <small style="font-size: 6px;" class="text-light">Bank</small>
              </a>
            <div
            style="border-radius: 50px;background-color: #fff; height: 8vh;"
              class="navbar-toggler "
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon mt-2"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link text-light " aria-current="page" routerLink="/">Home</a>
                  <hr class="bg-light text-light py-1">
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light  font-semibold" routerLink="/create">Sign Up</a>
                  <hr class="bg-light text-light py-1">

                </li>
                <li class="nav-item">
                  <a class="nav-link text-light font-semibold">Contact us</a>
                  <hr class="bg-light text-light py-1">

                </li>
                <li class="nav-item">
                  <a class="nav-link text-light  font-semibold">Blog</a>
                  <hr class="bg-light text-light py-1">

                </li>
              </ul>
              <form class="d-flex" role="search">
                <button class="btn font-medium  text-light" type="submit">Login</button>
                <button class="btn-rounded px-4  bg-light fw-bold">
                    <a  style="color: rgb(25, 25, 133) !important;" class="text-decoration-none  text-light " routerLink="/create">
                        Sign up 
                      </a>
                
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>  