.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.mt-top{
  margin-top: 4pc;
}
.btn-color{
  background-color: rgb(25, 25, 133);
  border: none;
  border-radius: 3px !important;
  color: #fff;
}
.alert {
  height: 2pc;
  
}
mat-form-field {
  margin-right: 12px;
}
.custom-snackbar-class{
  background-color: red !important; 
  color: white; 
  font-size: 56px !important; 
}