<div class="container">
    <div class="row">
        <div class=" mt-4 bg-parent border border-primary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores modi expedita, quas architecto eaque alias, nulla maxime recusandae fuga accusamus, sed harum natus totam tempora voluptas veniam aliquid cum dicta quasi? Omnis quas in, eveniet tenetur dolor numquam, hic, rerum illum accusamus et aperiam ullam. Asperiores eum non earum. Provident.
           
        </div>
    </div>
</div>