.container-fluid {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    width: 320px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #fff;
    text-align: center;
    padding: 20px;
  }
  .drc-banking{
    color: #cfcccc;
  }
  .verify-button{
    color: #fff;
    background-color:#2639e0;
    height: 6vh;
    font-size: 12px;
 
}