<div class="container-fluid bg-light">
    <div class="content shadow py-2">
        <p class="">Welcome and thanks for choosing</p>
        <p class="drc-banking">DRC banking</p>
        <hr>
        <small class="fw-bold">Your account has been successfully registered, please click below to verify your account</small>
        <button (click)="verifyUser()" class="btn mt-2 mb-2 verify-button">Verify account</button> <br>
        <small class="mt-4">Copy Right 2021. All Rights Reserved</small>
    </div>
</div>